-injars target\AutoMaker.jar
-outjars target\AutoMaker_out.jar

-libraryjars 'C:\Program Files (x86)\Java\jre1.8.0_25\lib\rt.jar'
-libraryjars 'C:\Program Files (x86)\Java\jre1.8.0_25\lib\ext\jfxrt.jar'
-libraryjars 'C:\Program Files (x86)\Java\jre1.8.0_25\lib\jce.jar'
-libraryjars target\lib

-dontskipnonpubliclibraryclassmembers
-dontshrink
-printusage AutoMaker.usage
-dontoptimize
-printmapping AutoMaker.mapping
-flattenpackagehierarchy ''
-keepattributes Exceptions,InnerClasses,Signature,Deprecated,SourceFile,LineNumberTable,LocalVariable*Table,*Annotation*,Synthetic,EnclosingMethod
-adaptresourcefilecontents **.fxml,**.properties,META-INF/MANIFEST.MF
-verbose
-dontnote
-dontwarn org.joda.time.**,javax.jms.**,org.apache.commons.httpclient.**,org.apache.commons.net.**,javax.mail.**,org.apache.tools.**,org.apache.jackrabbit.**,com.jcraft.jsch.**,org.jdom.**,org.apache.avalon.**,org.apache.commons.beanutils.**,javax.servlet.**,org.apache.commons.digester.**,org.apache.log.**,org.apache.commons.collections.**,org.apache.commons.jexl2.**,org.codehaus.plexus.interpolation.**,org.apache.commons.vfs2.tasks.**


-keepclassmembers class * extends java.io.Serializable {
    static final long serialVersionUID;
    private static final java.io.ObjectStreamField[] serialPersistentFields;
    !static !transient <fields>;
    private void writeObject(java.io.ObjectOutputStream);
    private void readObject(java.io.ObjectInputStream);
    java.lang.Object writeReplace();
    java.lang.Object readResolve();
}

-keepclassmembers,allowoptimization enum  * {
    <fields>;
    public static **[] values();
    public static ** valueOf(java.lang.String);
    <methods>;
}

-keep class org.apache.commons.logging.impl.** {
    <fields>;
    <methods>;
}

-keep class org.apache.commons.jxpath.ri.** {
    <fields>;
    <methods>;
}

-keepclassmembers class celtech.configuration.fileRepresentation.** {
    <fields>;
    <methods>;
}

-keep class celtech.coreUI.components.** {
    <methods>;
}

-keepclassmembers class celtech.configuration.slicer.NozzleParameters {
    <fields>;
    <methods>;
}

-keep class jfxtras.** {
    <methods>;
}

-keepclassmembers class celtech.web.CookieContainer {
    <methods>;
}

-keep,allowshrinking class * extends java.io.Serializable

-keep,allowshrinking class org.apache.commons.**

-keep,allowshrinking class jssc.** {
    <methods>;
}

-keepclassmembers,allowshrinking class * {
    @javafx.fxml.FXML
    <fields>;
    @javafx.fxml.FXML
    <methods>;
}

-keep,allowshrinking class org.controlsfx.** {
    <methods>;
}

-keep,allowshrinking class ca.beq.util.win32.** {
    <fields>;
    <methods>;
}

-keep,allowshrinking class celtech.modelcontrol.ModelContainer {
    *** get**(...);
    *** set**(...);
}

# Keep - Applications. Keep all application classes, along with their 'main'
# methods.
-keepclasseswithmembers public class com.javafx.main.Main,celtech.automaker.AutoMaker {
    public static void main(java.lang.String[]);
}
